<footer class="bg-dark text-center text-white">
    
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  

  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" />
              <label class="form-label" for="form5Example21">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

  <div class='footer-width-fixer'>		<div data-elementor-type="wp-post" data-elementor-id="103" class="elementor elementor-103" data-elementor-settings="[]">
                      <div class="elementor-inner">
                          <div class="elementor-section-wrap">
                          <section class="elementor-section elementor-top-section elementor-element elementor-element-105a08b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="105a08b" data-element_type="section" id="footer" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                      <div class="elementor-container elementor-column-gap-default">
                          <div class="elementor-row">
                  <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-fab5a8b" data-id="fab5a8b" data-element_type="column">
          <div class="elementor-column-wrap elementor-element-populated">
                          <div class="elementor-widget-wrap">
                      <section class="elementor-section elementor-inner-section elementor-element elementor-element-ea64889 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ea64889" data-element_type="section">
                      <div class="elementor-container elementor-column-gap-default">
                          <div class="elementor-row">
                  <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-bcc5241" data-id="bcc5241" data-element_type="column">
          <div class="elementor-column-wrap elementor-element-populated">
                          <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-aa4f5dd elementor-widget elementor-widget-text-editor" data-id="aa4f5dd" data-element_type="widget" data-widget_type="text-editor.default">
              <div class="elementor-widget-container">
                  <div class="elementor-text-editor elementor-clearfix"><p>Calle Playa de Liencres, 2 bis. &#8211; Parque Europa Empresarial <br />Edificio Madrid &#8211; 28290 Las Rozas, Madrid</p><p><a href="mailto:info@u-tad.com">info@u-tad.com</a> | <a href="tel:+34900373379">(+34) 900 373 379</a> | L-V: 09:00 h. &#8211; 21:00 h.</p></div>
              </div>
              </div>
              <div class="elementor-element elementor-element-e99320c elementor-shape-circle e-grid-align-left redes_sociales elementor-grid-0 elementor-widget elementor-widget-social-icons" data-id="e99320c" data-element_type="widget" data-widget_type="social-icons.default">
              <div class="elementor-widget-container">
                  <div class="elementor-social-icons-wrapper elementor-grid">
                          <div class="elementor-grid-item">
                  <a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-repeater-item-9879c83" href="https://twitter.com/U_tad" target="_blank" rel="nofollow">
                      <span class="elementor-screen-only">Twitter</span>
                      <i class="fab fa-twitter"></i>					</a>
              </div>
                          <div class="elementor-grid-item">
                  <a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-repeater-item-6a55b45" href="https://es-es.facebook.com/utadcentrouniversitario" target="_blank" rel="nofollow">
                      <span class="elementor-screen-only">Facebook</span>
                      <i class="fab fa-facebook"></i>					</a>
              </div>
                          <div class="elementor-grid-item">
                  <a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-repeater-item-83bbc83" href="https://www.instagram.com/u_tad/" target="_blank" rel="nofollow">
                      <span class="elementor-screen-only">Instagram</span>
                      <i class="fab fa-instagram"></i>					</a>
              </div>
                          <div class="elementor-grid-item">
                  <a class="elementor-icon elementor-social-icon elementor-social-icon-linkedin elementor-repeater-item-033df17" href="https://www.linkedin.com/school/u-tad/" target="_blank" rel="nofollow">
                      <span class="elementor-screen-only">Linkedin</span>
                      <i class="fab fa-linkedin"></i>					</a>
              </div>
                          <div class="elementor-grid-item">
                  <a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-b19f1c8" href="https://www.youtube.com/user/UniversidadUTAD" target="_blank" rel="nofollow">
                      <span class="elementor-screen-only">Youtube</span>
                      <i class="fab fa-youtube"></i>					</a>
              </div>
                  </div>
              </div>
              </div>
              <div class="elementor-element elementor-element-001e9e8 hfe-nav-menu__breakpoint-none hfe-nav-menu__align-left hfe-submenu-icon-arrow hfe-link-redirect-child elementor-widget elementor-widget-navigation-menu" data-id="001e9e8" data-element_type="widget" data-widget_type="navigation-menu.default">
              <div class="elementor-widget-container">
                      <div class="hfe-nav-menu hfe-layout-vertical hfe-nav-menu-layout vertical" data-layout="vertical">
              <div class="hfe-nav-menu__toggle elementor-clickable">
                  <div class="hfe-nav-menu-icon">
                                          </div>
              </div>
              <nav class="hfe-nav-menu__layout-vertical hfe-nav-menu__submenu-arrow" data-toggle-icon="" data-close-icon="" data-full-width=""><ul id="menu-1-001e9e8" class="hfe-nav-menu"><li id="menu-item-55991" class="menu-item menu-item-type-post_type menu-item-object-page parent hfe-creative-menu"><a href="https://u-tad.com/contacto/" class = "hfe-menu-item">Contacta con Nosotros</a></li>
<li id="menu-item-338" class="menu-item menu-item-type-custom menu-item-object-custom parent hfe-creative-menu"><a target="_blank"rel="noopener" href="https://www.google.com/maps/place/U-tad+%7C+Centro+Universitario+de+Tecnolog%C3%ADa+y+Arte+Digital/@40.5384477,-3.8933166,3a,75y,178.13h,86.81t/data=!3m7!1e1!3m5!1sAF1QipN0oeeQvOUe50Ad8mdhzIPOjnE6d90dvKKx6efO!2e10!3e12!7i13864!8i6932!4m5!3m4!1s0x0:0xd99cf803771e7271!8m2!3d40.5392277!4d-3.8932693?hl=es" class = "hfe-menu-item">tour virtual</a></li>
</ul></nav>              
          </div>
                  </div>
              </div>
                      </div>
                  </div>
      </div>
              <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-d9a0633 menu-footer-container" data-id="d9a0633" data-element_type="column">
          <div class="elementor-column-wrap elementor-element-populated">
                          <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-6ec4299 hfe-nav-menu__breakpoint-none footer_custom_menu hfe-nav-menu__align-left hfe-submenu-icon-arrow hfe-link-redirect-child elementor-widget elementor-widget-navigation-menu" data-id="6ec4299" data-element_type="widget" data-widget_type="navigation-menu.default">
              <div class="elementor-widget-container">
                      <div class="hfe-nav-menu hfe-layout-vertical hfe-nav-menu-layout vertical" data-layout="vertical">
              <div class="hfe-nav-menu__toggle elementor-clickable">
                  <div class="hfe-nav-menu-icon">
                                          </div>
              </div>
              <nav class="hfe-nav-menu__layout-vertical hfe-nav-menu__submenu-arrow" data-toggle-icon="" data-close-icon="" data-full-width=""><ul id="menu-1-6ec4299" class="hfe-nav-menu"><li id="menu-item-340" class="menu-item menu-item-type-post_type menu-item-object-page parent hfe-creative-menu"><a href="https://u-tad.com/estudios/" class = "hfe-menu-item">Oferta formativa</a></li>
<li id="menu-item-53233" class="menu-item menu-item-type-post_type menu-item-object-page parent hfe-creative-menu"><a href="https://u-tad.com/proceso-de-admision/" class = "hfe-menu-item">Proceso de admisión</a></li>
<li id="menu-item-53234" class="menu-item menu-item-type-post_type menu-item-object-page parent hfe-creative-menu"><a href="https://u-tad.com/movilidad-internacional-para-alumnos/" class = "hfe-menu-item">Internacional</a></li>
<li id="menu-item-52301" class="menu-item menu-item-type-post_type menu-item-object-page parent hfe-creative-menu"><a href="https://u-tad.com/trabaja-en-u-tad/" class = "hfe-menu-item">Trabaja en U-tad</a></li>
<li id="menu-item-53278" class="menu-item menu-item-type-post_type menu-item-object-page parent hfe-creative-menu"><a href="https://u-tad.com/prensa/" class = "hfe-menu-item">Prensa</a></li>
<li id="menu-item-58850" class="menu-item menu-item-type-custom menu-item-object-custom parent hfe-creative-menu"><a href="/contacto/" class = "hfe-menu-item">Empresas</a></li>
<li id="menu-item-63569" class="menu-item menu-item-type-custom menu-item-object-custom parent hfe-creative-menu"><a href="/trabajos-de-alumnos/" class = "hfe-menu-item">trabajos de alumnos</a></li>
<li id="menu-item-53235" class="menu-item menu-item-type-post_type menu-item-object-page parent hfe-creative-menu"><a href="https://u-tad.com/empleo-y-practicas/" class = "hfe-menu-item">Empleo y prácticas</a></li>
<li id="menu-item-53294" class="menu-item menu-item-type-custom menu-item-object-custom parent hfe-creative-menu"><a target="_blank"rel="noopener" href="https://u-tad.blackboard.com/webapps/login/" class = "hfe-menu-item">Acceso al Campus Virtual</a></li>
</ul></nav>              
          </div>
                  </div>
              </div>
                      </div>
                  </div>
      </div>
              <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-fe525b5 footer_logos_column" data-id="fe525b5" data-element_type="column">
          <div class="elementor-column-wrap elementor-element-populated">
                          <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-af27503 elementor-widget elementor-widget-html" data-id="af27503" data-element_type="widget" data-widget_type="html.default">
              <div class="elementor-widget-container">
          <p>Partner de U-tad:</p>
<img class="lazy" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201%201'%3E%3C/svg%3E" data-src="https://st3.u-tad.com/media/2020/06/skydance.png" />
<p>Centro adscrito a:</p>
<img class="lazy" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201%201'%3E%3C/svg%3E" data-src="https://st3.u-tad.com/media/2020/06/universidad-cjc.png" />
<p>Proyecto cofinanciado por:</p>
<img class="lazy" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201%201'%3E%3C/svg%3E" data-src="https://st1.u-tad.com/media/2022/01/oficiales.png" />

      </div>
              </div>
                      </div>
                  </div>
      </div>
                              </div>
                  </div>
      </section>
              <section class="elementor-section elementor-inner-section elementor-element elementor-element-6ee3157 border-top elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6ee3157" data-element_type="section">
                      <div class="elementor-container elementor-column-gap-default">
                          <div class="elementor-row">
                  <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-465aec4" data-id="465aec4" data-element_type="column">
          <div class="elementor-column-wrap elementor-element-populated">
                          <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-301e022 elementor-widget elementor-widget-heading" data-id="301e022" data-element_type="widget" data-widget_type="heading.default">
              <div class="elementor-widget-container">
          <div class="elementor-heading-title elementor-size-default">Empresas colaboradoras:</div>		</div>
              </div>
                      </div>
                  </div>
      </div>
                              </div>
                  </div>
      </section>
              <section class="elementor-section elementor-inner-section elementor-element elementor-element-47ab22a border-bottom elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="47ab22a" data-element_type="section">
                      <div class="elementor-container elementor-column-gap-default">
                          <div class="elementor-row">
                  <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-bf185d4" data-id="bf185d4" data-element_type="column">
          <div class="elementor-column-wrap elementor-element-populated">
                          <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-4c6ae36 elementor-widget elementor-widget-html" data-id="4c6ae36" data-element_type="widget" data-widget_type="html.default">
              <div class="elementor-widget-container">
          <div class="elementor-hidden-phone elementor-hidden-tablet">
   <div style="justify-content:center">
<img class="lazy" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201%201'%3E%3C/svg%3E" data-src="https://st3.u-tad.com/media/2021/03/logos_desktop_prod.png" />
</div>
</div>
<div class="elementor-hidden-desktop elementor-hidden-phone">
   <div>
<img class="lazy" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201%201'%3E%3C/svg%3E" data-src="https://st3.u-tad.com/media/2021/03/logos_tablet_prod.png" />
</div>
</div>
<div class="elementor-hidden-desktop elementor-hidden-tablet">
  <div>
<img class="lazy" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201%201'%3E%3C/svg%3E" data-src="https://st3.u-tad.com/media/2021/03/logos_movil_pro.png" />
</div>
</div>		</div>
              </div>
                      </div>
                  </div>
      </div>
                              </div>
                  </div>
      </section>
              <section class="elementor-section elementor-inner-section elementor-element elementor-element-fa1e40e footer_end elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="fa1e40e" data-element_type="section">
                      <div class="elementor-container elementor-column-gap-default">
                          <div class="elementor-row">
                  <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6061eba" data-id="6061eba" data-element_type="column">
          <div class="elementor-column-wrap elementor-element-populated">
                          <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-edfc2aa elementor-widget elementor-widget-copyright" data-id="edfc2aa" data-element_type="widget" data-widget_type="copyright.default">
              <div class="elementor-widget-container">
                  <div class="hfe-copyright-wrapper">
                          <span>© U-tad 2022
</span>
                  </div>
              </div>
              </div>
                      </div>
                  </div>
      </div>
              <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-d8e2be8" data-id="d8e2be8" data-element_type="column">
          <div class="elementor-column-wrap elementor-element-populated">
                          <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-23eca83 hfe-nav-menu__align-right hfe-nav-menu__breakpoint-none legal_menu hfe-submenu-icon-arrow hfe-submenu-animation-none hfe-link-redirect-child elementor-widget elementor-widget-navigation-menu" data-id="23eca83" data-element_type="widget" data-widget_type="navigation-menu.default">
              <div class="elementor-widget-container">
                      <div class="hfe-nav-menu hfe-layout-horizontal hfe-nav-menu-layout horizontal hfe-pointer__none" data-layout="horizontal">
              <div class="hfe-nav-menu__toggle elementor-clickable">
                  <div class="hfe-nav-menu-icon">
                                          </div>
              </div>
              <nav class="hfe-nav-menu__layout-horizontal hfe-nav-menu__submenu-arrow" data-toggle-icon="" data-close-icon="" data-full-width=""><ul id="menu-1-23eca83" class="hfe-nav-menu"><li id="menu-item-73113" class="menu-item menu-item-type-post_type menu-item-object-page parent hfe-creative-menu"><a href="https://u-tad.com/politica-de-privacidad/" class = "hfe-menu-item">Política de privacidad</a></li>
<li id="menu-item-362" class="menu-item menu-item-type-post_type menu-item-object-page parent hfe-creative-menu"><a href="https://u-tad.com/politica-de-cookies/" class = "hfe-menu-item">Política de Cookies</a></li>
</ul></nav>              
          </div>
                  </div>
              </div>
                      </div>
                  </div>
      </div>
                              </div>
                  </div>
      </section>
                      </div>
                  </div>
      </div>
                              </div>
                  </div>
      </section>
                      </div>
                      </div>
                  </div>
      </div>		</footer>
  