<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tabla empresas</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style_tablaEmpresa.css">
</head>
<body>
    <h1>Tabla empresas inscritas</h1>
    <table id="tabla_empresas">
        <thead>
            <td>Nombre</td>
            <td>Persona de contacto</td>
            <td>Email</td>
            <td>Tlf</td>
            <td>Dirección</td>
            <td>Población</td>
            <td>Provincia</td>
            <td>Código Postal</td>
            <td>País</td>
            <td>url</td>

        </thead>
    </table>
    <script src="../static/js/tabla_empresas.js"></script> 
</body>
</html>