<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style_form.css">
    <title>Inscripción Empresas</title>
</head>
<body>
    <div class="formulario">
        <form action="{{ request.path }}" method="post" novalidate>
            {{ form.csrf_token }}
            <h1>Inicio de sesión</h1>
            <fieldset id="datos_empresa">
                <legend><h2>Registro de empresas</h2></legend>
                {{ form.name.label }}
                {{ form.name(size=64) }}<br>
                {% for error in form.name.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}

                {{ form.password.label }}
                {{ form.password }}<br>
                {% for error in form.password.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </fieldset>
            <br><br>

            {{ form.submit() }}
        </form>
    </div>
    <!--<script type="javascript" src="../formulario_empresa.js"></script> -->
</body>
</html>